name: Android CI


on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
 #   - name: Set up JDK 8 for compilation
#      uses: actions/setup-java@v4
 #     id: setup-java-8
#      with:
#        java-version: '8'
 #       distribution: 'temurin'
        #distribution: 'adopt'
#    - name: Set JAVA_HOME to JDK 11 for Gradle
#      run: echo "JAVA_HOME=${{ steps.setup-java-11.outputs.path }}" >> $GITHUB_ENV

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: 
      #|
#       export JAVA_HOME=${{ steps.setup-java-8.outputs.path }}
       ./gradlew assembleDebug 
      #build
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: '**/*.apk'
